[Unit]
Description=Scan the network for hosts and expose them to prometheus

[Service]
User=promscan
Group=promscan
PrivateTmp=yes
StateDirectory=promscan
ConfigurationDirectory=prometheus-netscanner
ExecStart=/usr/bin/scan.sh
